@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');




@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


html, body, input {
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	color: #31363b;
}

html, body {
	padding: 0px;
	margin: 0px;
	background-color: #FCFCFC;
	overflow-x: hidden;
}

body.headerCoverHero {
	padding-top: 50px;
}

main {
	padding: 0px;
}

a {
	text-decoration: none !important;
	color: #1D99F3;
}

a:visited {
	color: #7cbcec;
}

h1,h2,h3,h4,h5,p {
	margin: 0px;
}

h1 {
	font-size: 42px;
	font-weight: 300;
	color: #7f8c8d;
}

h2 {
	font-size: 26px;
	font-weight: 300;
	color: #4D4D4D;
}

h3 {
	font-size: 20px;
	font-weight: 300;
	color: #4D4D4D;
}

#pageHeader {
	position: fixed;
	z-index: 9999;
	margin: 0px 0px -1px;
	padding-top: 50px;
	border-bottom: solid 3px rgba(0,0,0,.1);
	background-clip: padding-box;
}


#pageHeader:before {
	content: "";
	background-color: #FCFCFC;
	height: 50px;
	top: 0px;
	width: 100%;
	position: absolute;
	z-index: 0;
}


body.headerCoverHero #pageHeader {
	/*position: absolute;*/
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 2000;
}

#pageHeader nav {
	z-index: 1;
}

#headerLogo {
	text-indent: -999px;
	color: #31363b;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	height: 0px;
}

#headerLogo:before {
	font-family: "glyph";
	content: "K";
	line-height: 50px;
	font-size: 32px;
	text-indent: 0px;
	width: 80px;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
}

.headerNav .rootNav > li {
	display: inline-block;
	position: relative;
	padding: 0px;
	width: 150px;
	text-align: center;
	line-height: 50px;
	color: #31363B;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

#headerStaticNav.headerNav .rootNav {
	left: 80px;
}

#siteNavigation {
	background-color: rgba(252,252,252,.95);
	/*background-color: rgba(239,240,241,.95);*/
}

#siteNavigation h1 {
	padding: 5px 20px;
	font-size: 20px;
	color: #192629;
}


#pageFooter {
	position: relative;
	z-index: 2000;
	background-color: #31363b;
}


.headerNav ul.rootNav {
	position: relative;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.headerNav li {
	vertical-align: top;
}

.headerNav .rootNav >  li:after {
	font-family: "glyph";
	font-weight: 400;
	content: "v";
	margin-left: 10px;
	position: relative;
	display: inline-block;
	top: .1ex;
	transition: all .2s;
}

.headerNav .rootNav > li:before {
	content: "";
	position: absolute;
	top: 48px;
	left: 20px;
	right: 20px;
	height: 2px;
	background-color: transparent;
	transition: all .2s;
}

.headerNav .rootNav > li:hover:before {
	background-color: #1d99f3;
	transition: all .4s;
	left: 0px;
	right: 0px;
}

.headerNav .rootNav >  li:hover:after {
	transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}

.headerNav .rootNav > li {
	padding-bottom: 0px;
	transition: padding-bottom 0s .4s;
}

.headerNav .rootNav > li:hover {
	padding-bottom: 10px;
	transition: padding-bottom 0s;
	z-index: 2;
}

.headerNav .rootNav > li:hover .popout {
  visibility: visible;
	opacity: 1;
	top: 100%;
	transition: visibility 0s 0s, opacity .4s, top .4s;
}

.headerNav .popout {
	visibility: hidden;
	display: block;
	position: absolute;
	cursor: default;
	opacity: 0;
	top: 80%;
	left: -180px;
	width: 500px;
	line-height: 100%;
	min-height: 200px;
	background-color: #FCFCFC;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.2);
	background-clip: padding-box;
	box-shadow: 0px 2px 10px rgba(0,0,0,.2);
	transition: visibility 0s .2s, opacity .1s .1s, top .1s .1s;
}

.headerNav .rootNav>li:nth-child(1) .popout {
	left: -70px;
}


.headerNav .popout:before {
	content: "";
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: 100%;
	left: 239px;
	border-top: 0;
	border-left: solid 11px rgba(0,0,0,0);
	border-right: solid 11px rgba(0,0,0,0);
	border-bottom: solid 11px rgba(0,0,0,.2);
	-moz-transform: scale(.9999)
}


.headerNav .popout:after {
	content: "";
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	bottom: 100%;
	left: 240px;
	border-top: 0;
	border-left: solid 10px rgba(255,255,255,0);
	border-right: solid 10px rgba(255,255,255,0);
	border-bottom: solid 10px rgba(255,255,255,1);
	-moz-transform: scale(.9999)
}

.headerNav .rootNav>li:nth-child(1) .popout:before {
	left: 130px;
}

.headerNav .rootNav>li:nth-child(1) .popout:after {
	left: 131px;
}


.headerNav nav a {
	display: block;
}


#headerDynamicNav .popout {
	left: auto;
	right: 0px;
}

#headerStaticNav {
	position: absolute;
	top: 0px;
	left: 0px;
}

#searchMenu:after{
	display: none;
}

#headerStaticNav .donate:hover:before {
	background-color: #f67400 !important;
}

#headerStaticNav .donate {
	color: #f67400;
	font-weight: bold;
}

#headerDynamicNav {
	position: absolute;
	top: 0px;
	right: 10px;
}

#searchMenu {
	width: 80px;
}

#headerSearchMenu {
	display: block;
	text-indent: -9999px;
	width: 40px;
}


#headerSearchMenu:before {
	font-family: "glyph";
	content: "Q";
	color: #31363B;
	line-height: 50px;
	font-size: 16px;
	text-indent: 0px;
	width: 80px;
	text-align: center;
	position: absolute;
	top: 2px;
	left: 0px;
}


#searchMenu .popout:before {
	left: auto;
	right: 30px;
}

#searchMenu .popout:after {
	left: auto;
	right: 31px;
}

#headerSearchMenu section {
	display: none;
}

.throbber {
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
}

.throbber:before {
	font-family: "glyph";
	font-weight: 400 !important;
	content: "%";
	color: #4d4d4d;
	position: absolute;
	text-align: center;
	text-indent: 0;
	display: block;
	line-height: 50px;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	font-size: 32px;
	animation: rotating 1.5s linear infinite;
}


main article {
	border-left: solid 1px rgba(0,0,0,.1);
	border-right: solid 1px rgba(0,0,0,.1);
}

@media (max-width:1000px) {
	#headerLogo {
		width: 100%;
		top: -50px;
	/*
	font-family: "glyph";
	content: "K";
	line-height: 50px;
	font-size: 32px;
	text-indent: 0px;
	width: 80px;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	*/
	}
	#headerLogo:before {
		left: 50%;
		margin-left: -16px;
		width: 32px;
		position: absolute;

	}

	#headerDynamicNav {
		top: -50px;
	}

	#headerLogo:after {
		font-family: "glyph";
		content: "=";
		line-height: 50px;
		font-size: 16px;
		text-indent: 0px;
		width: 56px;
		text-align: center;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#headerStaticNav {
		right: 0px;
		top: -50px;
		position: relative;
	}

	#headerStaticNav .rootNav {
		/*display: none;*/
		display: block;
		position: static;
		margin-top: 50px;
	}

	#headerStaticNav .rootNav li {
		display: block;
	}



	#headerStaticNav .popout {
		display: none;
		position: relative;
	}

	#headerStaticNav li:hover .popout {
		display: block;
	}
}
