#clockdiv {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv>div {
  padding: 10px;
  border-radius: 3px;
  color: rgba(5, 180, 249, .9);
  font-style: bold;
  display: inline-block;
  margin-bottom: 10px;
}

#clockdiv div>span {
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
}

#backersdiv {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#backersdiv>div {
  padding: 10px;
  border-radius: 3px;
  color: rgba(5, 180, 249, .9);
  font-style: bold;
  display: inline-block;
  margin-bottom: 10px;
}

#backersdiv div>span {
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.text__blue {
  padding: 10px;
  border-radius: 3px;
  color: rgba(5, 180, 249, .9);
  font-style: bold;
  margin-bottom: 10px;
}